body {
    background-color: #f0f0f5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.6;
    text-align: justify;
  }
  
  h1,
  h2,
  h3 {
    color: #003366;
    font-family: Georgia, serif;
  }
  
  /* a {
    color: #0066cc !important;
    text-decoration: none;
  } */

  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: darkred;
  }
  
  .links {
    font-size: 20px;
    margin-right: 20px;
  }
  
  
  #main-title {
    font-size: 32px;
    color: darkred;
    font-style: italic;
    line-height: 1.4;
    text-align: center;
  }
    
  .main-title {
    font-size: 32px;
    color: #0066cc;
    font-style: italic;
    line-height: 1.4;
    text-align: center;
  }
  a {
    color: green 
  }
  
  ul {
    list-style-type: square;
    color: #444;
    margin-left: 20px;
  }
  
  ol {
    list-style-type: upper-roman;
    color: #444;
    margin-left: 20px;
  }
  
  dl {
    margin: 20px;
  }
  dt {
    font-weight: bold;
    color: darkblue;
  }
  dd {
    margin-left: 20px;
    font-style: italic;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table,
  th,
  td {
    border: 1px solid #888;
    padding: 10px;
  }
  
  th {
    background-color: #cceeff;
    color: #444;
  }
  
  td {
    background-color: #f9f9f9;
  }
  .gallery-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-item{
    background-color: #003366;

  }
  span{
    text-align: center;
    margin: 0 auto;
    background-color: yellow;
  }

  div#floating{
    float: left;
    } /*float*/

  .block {
    position: relative;
    top: 10px;
    left: 20px;
  } /*використовую position*/

  p.new::after{
    content:'type ukrainian phone';
  }
  